#menu {
  position: fixed;
  left: 0;
  top: 25%;
  width: 8em;
  margin-top: -2.5em;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}
ul {
    list-style-type: none;
}

.record-display img {
    height: 500px;
    width: 500px;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}


.nav-bar a:hover, a:active {
    /* background-color: blue; */
    text-decoration-line: underline;
    text-decoration-color: black;
}

div {
    background-color: white;
    padding-top: 125px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

a {
    font: 20px arial, sans-serif;
}
p.a {
    font: 60px arial, sans-serif; 
}

#chroma {

  position: fixed;
  /* right: ; */
  top: 100%;
  width: em;
  margin-top: -13.5em;
    /* transform: rotate(180deg); */
}
